<div class="container" ng-controller="ProfileCtrl">

	<h2>Account Balance</h2>
	<p id="balance">{{user.balance}}</p>
	<img id="photo" ng-src="{{user.picture}}" alt="Profile Photo"></img>
	<form name="userForm">
			<label for="profileEmail">Email</label>
			<input type="text" id="profileEmail" class="form-control" value="{{user.email}}" disabled>
			<label for="profilePassword">Password</label>
			<input type="text" id="profilePassword" class="form-control" value="{{user.password}}" disabled>
			<label for="profileFirstName">First Name</label>
			<input type="text" id="profileFirstName" class="form-control" value="{{user.name.first}}" disabled>
			<label for="profileLastName">Last Name</label>
			<input type="text" id="profileLastName" class="form-control" value="{{user.name.last}}" disabled>
			<label for="profileAge">Age</label>
			<input type="text" id="profileAge" class="form-control" value="{{user.age}}" disabled>
			<label for="profileEyeColor">Eye Color</label>
			<input type="text" id="profileEyeColor" class="form-control" value="{{user.eyeColor}}" disabled>
			<label for="profileCompany">Company</label>
			<input type="text" id="profileCompany" class="form-control" value="{{user.company}}" disabled>
			<label for="profilePhone">Phone</label>
			<input type="text" id="profilePhone" class="form-control" value="{{user.phone}}" disabled>
			<label for="profileAddress">Address</label>
			<input type="text" id="profileAddress" class="form-control" value="{{user.address}}" disabled>
		<div class="buttons">
			<button id="edit" class="btn btn-info" ng-click="editDetails()">Edit</button>
			<button id="logout" class="btn btn-primary logout" ng-click="userLogout()">Logout</button>
		</div>
	</form>
</div>