<div class="container" ng-controller="ProfileCtrl">
	<div class="row">
		<img src="images/acme-logo.png">
	</div>
		<form class="form-signin" ng-submit="userLogin()">
			<label for="email" >Email</label>
			<input id="email" type="text" class="form-control" ng-model="loginData.email" required autofocus>
			<label for="password">Password</label>
			<input id="password" type="password" class="form-control" ng-model="loginData.password" required>
			<button type="submit" id="submit" class="btn btn-lg btn-primary btn-block">Log In</button>
		</form>
</div>